* {
  margin:0;
  padding:0;
  border:0;
}

.back-button {
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px;
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 140px;
  height: 10vh;
}
nav{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px;
  background-color: #FFFFFF;
  height: 15vh;
}
.container{
  margin: 0;
}

.div-img img {
  width:100%;
}

.flag-country-details{
  margin: 2rem 0 0 0;
}
.country-details{
  margin: 1.5rem 0 0 0;
}
.country-name{
  font-weight: 800;
  font-size: larger;
}
.detail{
  margin-bottom: 1rem;
}
.info{
  display: flex;
}
.name{
  display: flex;
  flex-direction: row;
  font-weight: 600;
}
.countries button{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .container{
    max-width: unset;
    height:auto;
    justify-self: center;
    margin:auto;
  } 
  .back-button{
    height: 8vh;
    width: 15%;
    margin-top: 6vh;
  }
  .flag-country-details {
    display: flex;
    width: 100%;
    height:50vh;
    margin: unset;
    margin-top: 5vh;
    flex-direction: row !important;
    justify-content: space-between;
    gap: 7.5vw;
  }
  .flag-country-details img {
    width:90%;
    margin-left:10%;
    object-fit: contain;
  }

  .div-img {
    width:45%;
  } 
  .country-name{
    padding: 0 0;
  }
  .country-details{
    width: 55%;
    margin: 0;
  }
  .info{
    margin: 0.2rem;
    display: flex;
    font-size: 0.7rem;
  }
  .info p{
    margin: 0;
  }
  .detail{
    margin: 0 0 0 0;
    padding-top: 0;
    height: 22vh;
  }
  .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6%;
    /* margin: 0 0 1rem 0; */
  }
  .border-countries .name{
    font-size: 0.65rem;
  }
  .secondary-details{
    margin-top: 4.5rem;
  }
  .top-level-domain {
    padding-top: 0;
  }
  .languages p {
    max-width: 200px;
  }
  .border-countries{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    
  }
  .countries button{
    height: 1.4rem;
    font-size: 0.6rem;
    padding: 0;
  }
}
