:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Nunito Sans", sans-serif;
}
body {
  font-size: 16px;
}
.container{
  background-color: var(--Very-Light-Gray);
}
.navbar {
  padding: 0 2%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100%;
  padding: 1rem 0;
  font-size: larger;
  font-weight: 600;
}
nav img {
  width: 20%;
}
.setting {
  font-size: 1rem;
  font-weight: 500;
}
.setting img {
  padding-right: 5px;
}
.search-filter {
  margin: 2rem 0;
}
.search-bar {
  background-color: var(--White);
  display: flex;
  width: 100%;
  height: 12vh;
  margin: 2rem 0;
  padding: 0.7rem 1.3rem;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}
.search-input {
  border: 0;
  outline: none;
  font-size: medium;
  height: 9vh;
}
.search-bar img {
  width: 50%;
}
.filter-bar {
  background-color: var(--White);
  display: flex;
  width: 100%;
  height: 12vh;
  padding: 0.7rem 1.3rem;
  justify-content: space-between;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}
#filter {
  outline: 0;
  border: 0;
  background-color: var(--White);
  width: 100%;
}
.card {
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
  margin: 4rem 0;
}
.card img{
  width: 100%;
}
.card .country-name-details {
  padding: 2rem 1rem;
}
.country-name {
  font-weight: 800;
  font-size: 1.5rem;
}
.country-details {
  margin: 0.8rem 0;
  line-height: 2rem;
}
.detail {
  display: flex;
  align-items: center;
}
.detail > p {
  margin: 0;
}
.detail > span {
  font-weight: 600;
}
@media (min-width: 768px) {
  .navbar {
    padding: 0 3rem;
    height: 7vh;
  }
  nav span{
    font-weight: 800;
    font-size: 1.8rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    max-width: 1440px;
  }
  .search-filter {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .search-bar {
    width: 50%;
    height: 9vh;
  }
  .filter-bar {
    width: 15rem;
    height: 7vh;
  }
  .cards {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .card {
    width: 21%;
    margin: 0;
  }
  .card img {
     border-radius: 0.2rem;
  }
  .country-name {
    font-size: 86%;
    line-height: normal;
  }
  .card .country-name-details {
    padding: 7% 5% 10% 6%;
  }
  .country-details{
    font-size: 80%;
    line-height: 2.5vh;
    margin: 11% 0 0 0;
  }
}
